.petya-a {
    width: 58%;
    height: 58%;
    margin-left: 20%;
}

.text-petya {
    text-align: center;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.img-1 {
    background-color: rgb(148, 54, 54);
}