.petya-a {
    width: 50%;
    height: 60%;
    margin-left: 24%;
}

.text-petya {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
    text-align: center;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.img-1 {
    background-color: rgb(0, 255, 34);
}
